<script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.GoogleAnalytics }}"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}

    // Default to denied consent for ad_storage and analytics_storage
    gtag('js', new Date());
    gtag('consent', 'default', {
        'ad_storage': 'denied',
        'analytics_storage': 'denied'
    });

    // Track Google Analytics setup (this will be triggered later by consent)
    gtag('config', '{{ .Site.GoogleAnalytics }}');
</script>
