<section class="bg-dark py-1">
    <div class="container px-1">
      <div class="row gx-5 align-items-center justify-content-center">
        <div class="col-lg-12">
          <div class="my-4 text-center">
            <img src="images/mmex.svg">
            <h1 class="display-5 fw-bolder mb-2 text-white">{{ .Params.lead | safeHTML }}</h1>
            <p class="lead fw-normal mb-4 text-white-50">{{ .Params.description | safeHTML }}</p>
            <div class="d-grid gap-3 py-2 d-sm-flex justify-content-center">
                <a id="download-os" class="btn btn-primary btn-lg px-4" href="docs/downloads/latest"><i class="fas fa-download"></i>&nbsp;Download</a>
                <!-- Google Play -->
                <a class="btn btn-primary btn-lg px-4" href="https://play.google.com/store/apps/details?id=com.money.manager.ex.android"> <i class="fab fa-google-play"></i>&nbsp;Google Play</a>

                <!-- Production App Store -->
                <a class="btn btn-info btn-lg px-4" href="https://apps.apple.com/us/app/money-manager-ex/id6683300571" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-apple"></i>&nbsp;App Store
                </a>
                <a class="btn btn-outline-light btn-lg px-4" href="https://moneymanagerex.org/moneymanagerex/"><i class="fas fa-book-open"></i>&nbsp;Documentation</a>
                <a class="btn btn-warning btn-lg px-4" href="docs/mmex/donate"><i class="fas fa-donate"></i>&nbsp;Donate</a>
            </div>
            <div id="download-advanced">
                <a href="docs/downloads/latest">Advanced install options & other platforms</a>
            </div>
            <div id="compatibilty">
              <a href="docs/downloads/compatibility">See here for platform/OS compatibility</a>
          </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Financial Management section-->
  <section class="bg-light py-1">
    <div class="container px-1 my-3">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-12">
                <div class="text-center">
                    <div class="fs-5">Financial management can become complicated when there is no clear understanding of how much 
                        money we are getting, regarded as income as opposed to our expenses. The first step towards better financial health is to 
                        maintain good financial records: it's only when we have a clear understanding of where our money goes, that we can make an 
                        informed decision of where to cut back on our expenses. Of course, there is no right or wrong answer to how to spend money: 
                            here's where personal finance software comes in. They help to slice/dice the financial data to give better insight into 
                            what is going on. Always remember the software can only be as good as the data it has to process. Garbage In Garbage Out. 
                            But if you have started thinking of even using Personal finance software, you are well on your way to making every dollar 
                            count.</div>
                </div>
            </div>
        </div>
    </div>
  </section>
