{{ if .IsHome  -}}
<script>
// Determine build details

let osDetails = {
    icon: '',
    name: '',
    url: ''
};

if (navigator.userAgent.indexOf('Win') != -1) {
    osDetails.icon = 'fa-windows';
    if (navigator.userAgent.indexOf('x64') != -1) 
    {
        osDetails.name ='Windows 64'
        osDetails.url = '{{ .Site.Params.mmexBuildBase }}v{{ .Site.Params.mmexBuild }}/mmex-{{ .Site.Params.mmexBuild }}-win64.exe';
    } else {
        osDetails.name = 'Windows 32'
        osDetails.url = '{{ .Site.Params.mmexBuildBase }}v{{ .Site.Params.mmexBuild }}/mmex-{{ .Site.Params.mmexBuild }}-win32.exe';
    }
}

if (navigator.userAgent.indexOf('Mac') != -1)
{
    osDetails.icon = 'fa-apple';
    osDetails.name = 'MacOS'
    osDetails.url = '{{ .Site.Params.mmexBuildBase }}v{{ .Site.Params.mmexBuild }}/mmex-{{ .Site.Params.mmexBuild }}-Darwin.dmg';
}

if (navigator.userAgent.indexOf('like Mac') != -1)
{
    osDetails.name = ''    
}

if (navigator.userAgent.indexOf('Android') != -1) 
{
    osDetails.icon = 'fa-android';
    osDetails.name = 'Android';
    osDetails.url = 'https://android.moneymanagerex.org/';
}

updateOsDownloadButton(osDetails);

function updateOsDownloadButton(osDetails) {
    let iconHtml = '<i class="fas fa-download"></i>&nbsp;Download';
    let url = "docs/downloads/latest";
    if (osDetails.name != '')
    {
        iconHtml = '<i class="fa-brands ' + osDetails.icon + '"></i>' + '&nbsp;Download for ' + osDetails.name;
        url = osDetails.url;
    } else
    {
        document.getElementById('download-advanced').style.display = "none";
    }
    document.getElementById('download-os').innerHTML = iconHtml;
    document.getElementById('download-os').setAttribute('href', url);
}
</script>
{{ end  -}}