{{ define "sidebar-prefooter" }}
<!-- Features section -->
<section class="py-1" id="features">
  <div class="container px-1 my-1">
  <div class="row gx-5 justify-content-center">
          <div class="col-lg-12">
              <div class="text-center">
                  <h2 class="fw-bolder">Features</h2>
                  <p class="lead fw-normal text-muted mb-5">MoneyManager Ex has all the features you would expect in a finance management application</p>
              </div>
          </div>
      </div>
      <div class="row gx-5 justify-content-center">
          <div class="col-lg-12">
              <div class="row gx-5 row-cols-1 row-cols-md-3">
                {{- $data := index .Site.Data -}}
                {{- with $data -}}
                    {{- $features := sort .features "weight" -}}
                    {{- range $i, $v := $features -}}
                        {{- range $j, $v := .features }}
                          <div onclick="location.href='docs/features/{{ .name }}'" 
                              onmouseover="this.style.background='WhiteSmoke';"
                              onmouseout="this.style.background='White';" 
                              class="col mb-5 h-100">
                              <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="{{ .icon }}"></i></div>
                              <h2 class="h5">{{ .title }}</h2>
                              <p class="mb-0">{{ .text }}</p>
                          </div>
                        {{- end -}}
                    {{- end -}}
                {{- end -}}
              </div>
          </div>
      </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
